.git
.gitignore
.github

README.md
CHANGELOG.md

.DS_Store
Thumbs.db
*.swp
*.swo
.vscode
.idea

*.bak
*.tmp
*.log

node_modules
*.psd
*.ai
*.sketch
*.fig

.env
.env.local
docker-compose.yml
docker-compose.local.yml
